<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android 12+ 申请精确闹钟的特殊访问 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--拍照所需权限-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data android:name="com.tongyi.multimodal.app" android:value="true" />
        <activity
            android:name="com.tongyi.multimodal_dialog.MultimodalConversationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="unspecified"
            android:exported="true">

        </activity>

        <activity
            android:name="com.tongyi.multimodal_dialog.EntranceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register alarm receiver -->
        <receiver
            android:name="com.tongyi.multimodal_dialog.util.AlarmReceiver"
            android:exported="false" />

        <!-- Alarm playback service -->
        <service
            android:name="com.tongyi.multimodal_dialog.util.AlarmPlaybackService"
            android:exported="false" />

    </application>

</manifest>
